<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8" />
    <title>Thanks!</title>
  </head>
  {% include 'header.html' %}
  <body>
  <div class = "d-flex flex-column justify-content-center align-items-center mt-5">
      <h1>
        Thank you for the feedback!
      </h1>

      <h2 style = "margin-top:50px;">
          Check out other pages:
      </h2>
      <div style="font-size:30px" class="d-flex flex-column justify-content-center align-items-center mt-2">
          <a href="/home">Home</a>
          <a href="/about">About development</a>
      </div>


  </div>

  </body>
{% include 'footer.html' %}
</html>
